.flex-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-container {
  position: fixed;
  bottom: 0px;
  left: 350px;
  height: 38px;
  background: #163054;
  width: calc(100vw - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sider-container {
  background-color: #1f2b3d;
  height: 100%;
}

.sider-container label {
  color: #fff;
  align-items: center;
}

.search-container {
  background: hsla(0, 0%, 100%, 0.1803921568627451);
  border: none;
  margin-right: 8px;
}

.search-container input {
  background-color: transparent !important;
}

.button-container {
  padding: 0px 8px;
}

.button-background {
  background-color: #6c8ac3;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-background:hover {
  background-color: #1890ff;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.label {
  font-size: 13px;
  color: #333333;
}
